h1 {
    color: lightskyblue;
    text-align: center;
}

a {
    text-decoration: none;
}

p {
    text-align: center;
    font-family: Courier;
    color: #9900cc;
}
#map {
    align-content: center;
    height: 750px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}